@{
    ViewData["Title"] = "PrenCheck";
}

<h1>Lägg till annons</h1>

<h4>Är du prenumerant?</h4>
<form action="PrenCheck" method="post">
    <label for="true">Ja</label>
    <input type="radio" value="true" name="val" id="true" />
    <label for="false">Nej</label>
    <input type="radio" value="false" name="val" id="false"/>
    <input type="submit" />
</form>