@{
    ViewData["Title"] = "PrenNrCheck";
}

<h1>Lägg till annons</h1>

<h4>Skriv in ditt prenumerationsnummer här</h4>
<form action="PrenNrCheck" method="post">
    <label for="pr_prenr">Prenumerationsnummer:</label>
    <input type="text" name="id" id="pr_prenr" />

    <input type = "submit"/>
</form>