
@{
    ViewData["Title"] = "PrenFormApiFail";
}

<h1>PrenFormApiFail</h1>

<p>Ett oväntat fel inträffade när prenumerantuppgifter skulle uppdateras, annonsen lades ej till.</p>

<div>
    @Html.ActionLink("Försök igen", "PrenNrCheck", "Home")
</div>

